<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Accessing Distributed Computing Feature</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Accessing Distributed Computing Feature</a></h1>
		<form id="form_1136905" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>Accessing Distributed Computing Feature</h2>
			<p>After Submitting </p>
		</div>						
			<ul >
			
					<li id="li_4" >
		<label class="description" for="element_4">Process Code </label>
		<div>
			<input id="element_4" name="element_4" class="element text small" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_4"><small>Edit later</small></p> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Parameter </label>
		<div>
			<textarea id="element_6" name="element_6" class="element textarea small"></textarea> 
		</div><p class="guidelines" id="guide_6"><small>Edit later</small></p> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Machines count </label>
		<div>
			<input id="element_5" name="element_5" class="element text small" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_5"><small>Edit later</small></p> 
		</li>		<li id="li_1" >
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="1136905" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Work" />
		</li>
			</ul>
		</form>	
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>