<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Submit Distributed Computing Process</title>
<link rel="stylesheet" type="text/css" href="{% static 'Submit/view.css' %}" media="all" />
<script type="text/javascript" src="{% static 'Submit/view.js' %}"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="{% static 'Submit/top.png' %}" alt="">
	<div id="form_container">
	
		<h1><a>Submit Distributed Computing Process</a></h1>
		<form id="form_1136539" class="appnitro"  method="post" action="/dc/submitDC">
			{% csrf_token %}
			{{ form }}
					<div class="form_description">
			<h2>Submit Distributed Computing Process</h2>
			<p>Using this file you can submit your process to the distributed computing mechanism. After submitting you will receive a process code in order to activate. </p>
		</div>						
			<ul >
			
					<li id="li_4" >
		<label class="description" for="process_name">Process Name </label>
		<div>
			<input id="process_name" name="process_name" class="element text small" type="text" value=""/>
		</div><p class="guidelines" id="guide_4"><small>Try keeping the name short and Simple.
The name should generally hint on the process destiny.</small></p> 
		</li>		<li id="li_1" >
		<label class="description" for="trim_func">Trim function </label>
		<div>
			<textarea id="trim_func" name="trim_func" class="element textarea large">def trim_for(parameters, machine_count):&#13;&#10;    </textarea> 
		</div><p class="guidelines" id="guide_1"><small>The trim function will divide your global task into mini-tasks. Trim function receives the main parameter and the machine count you would like to work on. Make sure you keep the function definition as it is.</small></p> 
		</li>		<li id="li_2" >
		<label class="description" for="map_func">Map function </label>
		<div>
			<textarea id="map_func" name="map_func" class="element textarea large">def map_for(parameter):&#13;&#10;    </textarea> 
		</div><p class="guidelines" id="guide_2"><small>The map function runs on each of the distributed computing nodes. In other words these are the little tasks. Make sure you keep the function definition as it is.</small></p> 
		</li>		<li id="li_3" >
		<label class="description" for="reduce_func">Reduce Function </label>
		<div>
			<textarea id="reduce_func" name="reduce_func" class="element textarea large">def reduce_for(answers):&#13;&#10;    </textarea> 
		</div><p class="guidelines" id="guide_3"><small>The reduce function is the arrangement of answers function. this function receives answers from all nodes and work them into one final answer. Make sure you keep the function definition as it is.</small></p>
		</li>
			
		<li class="buttons">
			<input type="hidden" name="form_id" value="1136539" />
			    
			<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit"/>
		</li>
			</ul>
		</form>	
	</div>
	<img id="bottom" src="{% static 'Submit/bottom.png' %}" alt="">
	</body>
</html>